@{
    ViewBag.Title = "Index";
}
<br/>

<h2 class="text-center">Afisare Proiecte</h2>
<br/>

@if (TempData["message"] != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}

@*
@foreach (FluvioApp.Models.Project project in ViewBag.Projects)
*@
<div class = "projectsContainer card">
    @foreach (FluvioApp.Models.Project project in ViewBag.Projects)
    {
        <div class="card projectCard mb-3">

            @Html.Partial("ProjectInfo", project)

            <div class="card-text assignments">

                @if (Model != null && Model.Assignments != null)
                {
                    @foreach (var assignment in Model.Assignments.Take(2))
                    {
                        <div class="assignment">
                            <p>@assignment.TaskName</p>
                        </div>
                    }
                }
                else
                {
                    <p>Nu s-a pus nici-un task la acest proiect</p>
                }

            </div>

            <a class="btn btn-success" href="/Projects/Show/@project.Id">Afisare Proiect</a>

        </div>
    }
</div>


<br />
<br />