@model FluvioApp.Models.Project

<div class="card-body"

    <h3 class="card-title alert succes py-3 px-3 rounded-2">
        @Model.ProjectName
    </h3>

    <div class="card-text description">

        <p>Project Description: @Model.ProjectDescription</p>

    </div>

    @*O sa pun si numele userului care a facut proiectul*@

</div>
